{% extends 'base.html' %}

{% block pass %}
<body class="fakebody">
<div class="textdisplay"><center>Change Your Password</center></div>
<div class="formvalue">

<form method="post" action="{% url 'passwordchange' %}?value={{var}}&user">
{% csrf_token %}
<input type="text" id="username" name="username" placeholder="username">
<input type="password" id="oldpassword" name="oldpassword" placeholder="Old Password">
<input type="password" id="newpassword" name="newpassword" placeholder="New Password">
<div>{{errorMsg}}</div>
<center><button type="submit" style="font-size:16px">Change</button></center></form></div>
</body>
{% endblock %}









